<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F2F4FB;
    overflow-x: hidden;
    padding-top: 20px;
    direction: column;

}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.sidenav p {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #F8B500;
  display: block;
}

h1 {
  font-size: 25px;
  color: #F8B500;
  text-align: center;
}
.sidenav a:hover {
    color: black;
    font-weight: bold;
}

.main {
    margin-left: 300px; /* Same as the width of the sidenav */

}

.row {
  position: fixed;
    margin-top: 0;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-dashboard {
  vertical-align:middle;
  display:inline;
  font-size: 18px;
  color: black;
  margin-left: 20px;
  position: flex;
  padding-bottom: 40px;
  position: fixed;
}

.logo {
  color: #ff6a6b;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 30px;
  font-weight: 800;

}

.dash-logo {
    padding-bottom: 40px;
    position: flex;
}

.menu-dash {
  position: fixed;
  bottom: 150px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="sidenav">

  <div class= "dash-logo">
    <%= link_to root_path, class: "logo" do %>
      <i class="far fa-lemon"></i> THELO
    <% end %>
  </div>


  <div class= "avatar-dashboard">
    <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>
  </div>

  <div class= "menu-dash">
      <div>
        <p>Professional</p>
        <%= link_to "My future events", events_path(@user.events) %>
        <%= link_to "Bids I've placed", bids_path %>
        <%= link_to "View Profile", user_path(@user) %>
      </div>

      <div>
        <p>Host</p>
        <%= link_to "Events I'm hosting", user_path(@user) %>
        <%= link_to "Create a new event", new_event_path(@user) %>
      </div>

      <div>
        <p>Account</p>
        <%= link_to "Log out", destroy_user_session_path %>
      </div>
  </div>

</div>

<div class="main">
      <div class="event-container">
      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          <h1>Events you are hosting</h1>
          <div class="row">
            <% @user.events.each do |event| %>
              <div class="col-xs-12">
                <a href="/events/<%= event.id %>">
                  <div class="event-card">
                    <div class="card-top">
                      <p><%= event.date.strftime("%b %e, %l:%M %p") %></p>
                      <p><%= event.bids.count %> bids made</p>
                    </div>
                    <h2><%= event.name %></h2>
                    <div class="card-bottom">
                      <div class="card-btm">
                        <p>What they are looking for </p>
                        <div class ="card-btn card-btn-green"><%= event.service.name %></div>
                      </div>
                      <div class="card-btm">
                        <p>Budget</p>
                        <div class="card-btn card-btn-red">
                          £<%= event.min_price %>-<%= event.max_price %>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
