<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="sidenav">

  <div class= "dash-logo">
    <%= link_to root_path, class: "logo" do %>
    <i class="far fa-lemon"></i> THELO
    <% end %>
  </div>

  <div class= "avatar-dashboard sidenava">
    <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-dash" %>
    <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>
  </div>

  <div class= "menu-dash sidenava">

    <p id= "pro-pink">Professional</p>
    <%= link_to "Events I'm working at", "#proevents" %>
    <%= link_to "Bids I've placed", "#probids" %>
    <%= link_to "View Profile", user_path(@user)%>

    <p>Host</p>
    <%= link_to "Events I'm hosting", "#hostevents" %>
    <%= link_to "Create a new event", new_event_path%>

    <p id="account">Account</p>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
    <%= link_to "Log out", destroy_user_session_path %>

  </div>
</div>

<body class= "dashboard-container body-dash">


  <!-- PROFESSIONAL EVENTS/Bookings display the booked/confirmed events that the professional has bid on -->
  <div class="professional-events-card">
    <div class="professional-events " id="proevents">
      <p>Your Professional Events</p>
    </div>


  <!--   <div class="row status-header" >
      <div class="col-xs-12 col-md-6" style="text-align: center; background-color:none;"><p>Upcoming Booked Events</p> </div>
      <div class="col-xs-12 col-md-6 " style="text-align: center; background-color:none;"> <p>Past Booked Events</p> </div>
    </div>
 -->


    <!-- (future events) -->
    <div class="events-flex">
      <!-- <div class="col-xs-12 col-sm-12" > -->


       <div class="events-flex-item" style="background-color:none;">
        <div class="status-header" style="text-align: center; background-color:none;"><p>Upcoming Booked Events</p> </div>
        <% @accepted_bids.each do |bid| %>
        <% if bid.event.date.past? == false%>
        <!-- <div class="row"> -->
          <a href="/events/<%= bid.event.id %>" class="bid-card-link">
            <div class="bid-status-card future">
                <p><%= bid.event.name %></p>
                <% bid.user_id %>
                <p>Accepted Quote: £<%= bid.quote.to_i %></p>
                <h5><%= bid.event.date.strftime("%b %e, %l:%M %p") %></h5>
                <p>Service: <%= bid.event.service.name %></p>
                <p>Location: <%= bid.event.location %></p>
                <% if bid.status == "accepted" %>
                <% elsif bid.status == "pending" %>
                <% elsif bid.status == "declined" %>
              <% end %>
            </div>
          </a>
        <% end %>
        <% end %>
        </div>



      <!-- (past events) -->


      <div class="events-flex-item past" >
      <div class="status-header"> <p>Past Booked Events</p> </div>

        <% @accepted_bids.each do |bid| %>
        <% if bid.event.date.past? == true%>
        <!-- <div class="row"> -->
          <a href="/events/<%= bid.event.id %>" class="bid-card-link">
            <div class="bid-status-card past">

                <p><%= bid.event.name %></p>
                <% bid.user_id %>
                <p>Accepted Quote: £<%= bid.quote.to_i %></p>
                <h5><%= bid.event.date.strftime("%b %e, %l:%M %p") %></h5>
                <p>Service: <%= bid.event.service.name %></p>
                <p>Location: <%= bid.event.location %></p>

                <% if bid.status == "accepted" %>
                <% elsif bid.status == "pending" %>
                <% elsif bid.status == "declined" %>

              <% end %>
            </div>
            <!-- </div> -->
          </a>
          <% end %>
          <% end %>
      </div>


      </div>
    </div>
</div>


<!-- PROFESSIONAL BIDS - -->

<div class="professional-events-card">
  <div class="professional-events" id="probids">
    <p>Bids you have placed as a Professional</p>
  </div>

<div class="events-flex">

  <div class="bids-flex-item" style="background-color:none;">
  <div class="bid-status-header" style=   "border-bottom: 2px solid #7ED321;"
 ><p>Accepted</p> </div>
    <% @accepted_bids.each do |bid| %>
      <a href="/events/<%= bid.event.id %>" class="bid-card-link">
        <div class="bid-status-card accepted">
            <p><%= bid.event.name %> - <%= bid.event.location %></p>
            <% bid.user_id %>
            <p>Quoted: £<%= bid.quote.to_i %></p>
            <p>Host Budget: £<%= bid.event.min_price %> - £<%= bid.event.max_price %></p>
            <p>Event date: <%= bid.event.date.strftime("%b %e, %l:%M %p") %></p>
            <% if bid.status == "accepted" %>
            <% elsif bid.status == "pending" %>
            <% elsif bid.status == "declined" %>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>



  <div class="bids-flex-item " style="background-color:none;">
    <div class="bid-status-header" style = "border-bottom: 2px solid #F8B500;" ><p>Pending</p> </div>
    <% @pending_bids.each do |bid| %>
      <a href="/events/<%= bid.event.id %>" class="bid-card-link">
        <div class="bid-status-card pending">
            <p><%= bid.event.name %> - <%= bid.event.location %></p>
            <% bid.user_id %>
            <p >Quoted: £<%= bid.quote.to_i %></p>
            <p>Host Budget: £<%= bid.event.min_price %> - £<%= bid.event.max_price %></p>
            <p>Event date: <%= bid.event.date.strftime("%b %e, %l:%M %p") %></p>
            <% if bid.status == "accepted" %>
            <% elsif bid.status == "pending" %>
            <% elsif bid.status == "declined" %>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>

  <div class="bids-flex-item" style="background-color:none;">
     <div class="bid-status-header" style= "border-bottom: 2px solid grey;" ><p>Declined</p> </div>
    <% @declined_bids.each do |bid| %>
    <a href="/events/<%= bid.event.id %>" class="bid-card-link">
      <div class="bid-status-card declined">
          <p><%= bid.event.name %> - <%= bid.event.location %></p>
          <% bid.user_id %>
          <p>Quoted: £<%= bid.quote.to_i %></p>
          <p>Host Budget: £<%= bid.event.min_price %> - £<%= bid.event.max_price %></p>
          <p>Event date: <%= bid.event.date.strftime("%b %e, %l:%M %p") %></p>

          <% if bid.status == "accepted" %>
          <% elsif bid.status == "pending" %>
          <% elsif bid.status == "declined" %>
        <% end %>
      </div>
    </a>
  <% end %>
  </div>

</div>
</div>

  <!-- HOST EVENTS - display list of events created -->

  <!-- BOOKINGS need to add a green border around the events that have been confirmed with bids -->


<div class="professional-events-card">
  <div class="host-events" id="hostevents">
    <p>Events you are Hosting</p>
  </div>

  <div class="events-host-flex">

    <div class="events-host-flex-item">

            <% @host_events.order(date: :asc).each do |event| %>

            <%if event.date.to_date.future? %>
              <a href="/events/<%= event.id %>">
                <div class="event-dash-card">
                  <div class="card-top">
                    <p><%= event.date.strftime("%b %e, %l:%M %p") %></p>

                  </div>
                  <h2><%= event.name %></h2>
                  <% event.user_id%>

                  <div class="card-bottom">
                      <div class="card-btm">
                        <p>Looking for: </p>
                        <div class ="card-btn card-btn-orange"><%= event.service.name %></div>
                      </div>
                      <% if event.bids.where(status: "accepted")[0] %>
                          <p class= "green-button" >You accepted a bid for £ <%= event.bids.where(status: "accepted")[0].quote %></p>
                      <% elsif event.bids.count == 0 %>
                        <p class= "grey-button" >You have <strong><%= event.bids.count %></strong> bids</p>
                      <% elsif event.bids.count >= 1 %>
                        <p class= "green-button pulse-button">You have <strong><%= event.bids.count %></strong> bids</p>
                      <% end %>
                      <!-- <div class="card-btm">
                        <p>Budget</p>
                        <div >
                          <p>£<%= event.min_price %>-<%= event.max_price %></p>

                        </div>
                      </div> -->
                    </div>
                </div>
              </a>
              <% end %>
              <% end %>


  <div class="professional-events" id="hosteventspast">
    <p>Events you have hosted</p>
  </div>
          <% @host_events.order(date: :asc).each do |event| %>

            <%if event.date.to_date.past? %>
              <a href="/events/<%= event.id %>">
                <div class="event-dash-card past">
                  <div class="card-top">
                    <p><%= event.date.strftime("%b %e, %l:%M %p") %></p>

                  </div>
                  <h2><%= event.name %></h2>
                  <% event.user_id%>

                  <div class="card-bottom">
                      <div class="card-btm">
                        <p>Looking for: </p>
                        <div class ="card-btn card-btn-grey"><%= event.service.name %></div>
                      </div>
                        <% if event.bids.where(status: "accepted")[0] %>
                          <p class ="grey-button">You accepted a bid for £ <%= event.bids.where(status: "accepted")[0].quote %></p>
                        <% elsif event.bids.count == 0 %>
                          <p class ="grey-button">You revceived <strong><%= event.bids.count %></strong> bids</p>
                        <% elsif event.bids.count >= 1 %>
                          <p class ="grey-button">You received <strong><%= event.bids.count %></strong> bids</p>
                        <% end %>

                      <!-- <div class="card-btm">
                        <p>Budget</p>
                        <div class="card-btn card-btn-grey">
                          £<%= event.min_price %>-<%= event.max_price %>
                        </div>
                      </div> -->
                    </div>
                </div>
              </a>

          <% end %>
          <% end %>


    </div>
   </div>
</div>


<!-- CREATE NEW EVENT  -->



</body>

