<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F2F4FB;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.sidenav p {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #F8B500;
  display: block;
}

.sidenav a:hover {
    color: black;
    font-weight: bold;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="sidenav">
  <p>Professional</p>
  <%= link_to "My future events", user_path(@user) %>
  <%= link_to "Bids I've placed", user_path(@user) %>
  <%= link_to "View Profile", user_path(@user) %>

  <p>Host</p>
  <%= link_to "Events I'm hosting", user_path(@user) %>
  <%= link_to "Create a new event", user_path(@user) %>

  <p>Account</p>
  <%= link_to "Update account", edit_user_registration_path %>
  <%= link_to "Log out", destroy_user_session_path %>



</div>

<div class="main">
  <h2>Sidenav Example</h2>
  <p>This sidenav is always shown.</p>
</div>

</body>
</html>
