<%= render 'users/dashboard' %>
  <body class= "dashboard-container body-dash" id="content">

<div class="row status-header">
  <div class="col-xs-12 col-md-6" style="text-align: center; background-color:none;"><p>Upcoming Events</p> </div>
  <div class="col-xs-12 col-md-6 " style="text-align: center; background-color:none;"> <p>Past Events</p> </div>

</div>

<% @accepted_bids.each do |bid| %>
    <% if @bid.event_date <= date.now %>
      <%= @bid.event_name %>
      <%= @bid.quote %>
    <% end %>
<% end %>


</div>
  <div class="row">
    <div class="col-xs-12 col-sm-12" >
     <div class="col-xs-12 col-md-4" style="background-color:none;">

      <% @accepted_bids.each do |bid| %>
        <div class="row">
        <a href="/events/<%= bid.event.id %>" class="bid-card-link">
          <div class="bid-status-card accepted">
            <div class="card-top">
              <p><%= @event.date%></p
              <p>Your Offer: £<%= bid.quote.to_i %></p>
              <p>Event date: <%= bid.event.date.strftime("%b %e, %l:%M %p") %></p>
              <p>Event location:<%= bid.event.location %></p>
              <%= event.service.name %>
            </div>
            <div class="card-btm">
              <% if bid.status == "accepted" %>
              <% elsif bid.status == "pending" %>
              <% elsif bid.status == "declined" %>
            </div>
            <% end %>
          </div>
        </div>
        </a>
      </div>
    <% end %>
    </div>




  </body>
