<meta name="viewport" content="width=device-width, initial-scale=1">

  <div class="sidenav">

    <div class= "dash-logo">
      <%= link_to root_path, class: "logo" do %>
        <i class="far fa-lemon"></i> THELO
      <% end %>
    </div>

    <div class= "avatar-dashboard sidenava">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-dash" %>
      <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>
    </div>

    <div class= "menu-dash sidenava">

      <p>Professional</p>
      <%= link_to "My future events", events_path(@user.events), remote: true %>
      <%= link_to "Bids I've placed", bids_path, remote: true %>
      <%= link_to "View Profile", user_path(@user), remote: true %>

      <p>Host</p>
      <%= link_to "Events I'm hosting", host_events_path(@user), remote: true %>
      <%= link_to "Create a new event", new_event_path(@user), remote: true %>
      <%= link_to "Display a new view", dashboard_path(@user), :remote => true %>

      <p>Account</p>
      <%= link_to "Log out", destroy_user_session_path %>
    </div>
  </div>

  <body class= "dashboard-container body-dash" id="content">


<div class="container-fluid">
  <!-- <h1>Bids you've placecd</h1>
    <div class="col-xs-12 col-md-4" style="background-color:lavender;">
      <h3>Accepted</h3>
    <div class="col-xs-12 col-md-4 " style="background-color:lavenderblush;">
      <h3>Pending</h3>
    <div class="col-xs-12 col-md-4 " style="background-color:lightcyan;">
      <h3>Declined</h3> -->
<div class="row status-header">
  <div class="col-xs-12 col-md-4" style="text-align: center; background-color:none;"><p>Accepted</p> </div>
  <div class="col-xs-12 col-md-4 " style="text-align: center; background-color:none;"> <p>Pending</p> </div>
  <div class="col-xs-12 col-md-4 " style=" text-align: center; background-color:none;"><p>Declined</p> </div>
</div>


</div>
  <div class="row">
    <div class="col-xs-12 col-sm-12" >
     <div class="col-xs-12 col-md-4" style="background-color:none;">
      <% @accepted_bids.each do |bid| %>
        <div class="row">
        <a href="/events/<%= bid.event.id %>" class="bid-card-link">
          <div class="bid-status-card accepted">
            <div class="card-top">
              <p><%= bid.event.name %></p>
              <%= bid.user_id %>
              <p>Your Offer: £<%= bid.quote.to_i %></p>
              <p>Event date: <%= bid.event.date.strftime("%b %e, %l:%M %p") %></p>
              <p>Event location:<%= bid.event.location %></p>
            </div>
            <div class="card-btm">
              <% if bid.status == "accepted" %>
              <% elsif bid.status == "pending" %>
              <% elsif bid.status == "declined" %>
            </div>
            <% end %>
          </div>
        </div>
        </a>
      </div>
    <% end %>
    </div>
    <div >
     <div class="col-xs-12 col-md-4 " style="background-color:none;">
      <% @pending_bids.each do |bid| %>
        <div class="row">
        <a href="/events/<%= bid.event.id %>" class="bid-card-link">
          <div class="bid-status-card pending">
            <div class="card-top">
              <p><%= bid.event.name %></p>
              <%= bid.user_id %>
              <p>Your Offer: £<%= bid.quote.to_i %></p>
              <p>Price Range: £<%= bid.event.min_price %>-<%= bid.event.max_price %></p>
              <p>Date: <%= bid.event.date.strftime("%b %e, %l:%M %p") %></p>
              <p>Location:<%= bid.event.location %></p>
            </div>
            <div class="card-btm">
              <% if bid.status == "accepted" %>
              <% elsif bid.status == "pending" %>
              <% elsif bid.status == "declined" %>
            </div>
            <% end %>
          </div>
        </div>
        </a>
      </div>
    <% end %>
  </div>

  <div >
    <div class="col-xs-12 col-md-4 " style="background-color:none;">
      <% @declined_bids.each do |bid| %>
        <a href="/events/<%= bid.event.id %>" class="bid-card-link">
          <div class="bid-status-card declined">
            <div class="card-top">
              <p><%= bid.event.name %></p>
              <%= bid.user_id %>
              <p>Your Offer: £<%= bid.quote.to_i %></p>
              <p>Price Range: £<%= bid.event.min_price %>-<%= bid.event.max_price %></p>
              <p>Date: <%= bid.event.date.strftime("%b %e, %l:%M %p") %></p>
              <p>Location:<%= bid.event.location %></p>
            </div>
            <div class="card-btm">
              <% if bid.status == "accepted" %>
              <% elsif bid.status == "pending" %>
              <% elsif bid.status == "declined" %>
            </div>
            <% end %>
          </div>
        </a>
      </div>
    <% end %>
  </div>

</div>



    <!-- The content goes here -->
  </body>

