
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h2>Edit Account</h2>

      <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>

      <%= f.input :first_name,
                  placeholder: "First name",
                  input_html: { class: "form-inputs", autocomplete: "First Name" } %>
      <%= f.input :last_name,
                  placeholder: "Last name",
                  input_html: { class: "form-inputs", autocomplete: "Last Name" } %>
      <%= f.input :email,
                  autofocus: true,
                  placeholder: "Email address",
                  input_html: { class: "form-inputs", autocomplete: "email" }%>
      <%= f.input :password,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  placeholder: "Create a password",
                  input_html: { class: "form-inputs", autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  placeholder: "Confirm your password",
                  input_html: { class: "form-inputs", autocomplete: "new-password" } %>

      <h5>Are you a Professional?</h5>
      <p><%= f.input :professional %>(Check this box if you have a professional service to offer)</p>

      <h6>Select your professional service</h6>
      <%= f.input :service_ids,
                  collection: Service.all,
                  as: :check_boxes,
                  :include_blank => false,
                  prompt: 'Select Service',
                  input_html: { class: "form-inputs" } %>

      <%= f.submit "Edit", class: "button" %>

      <% end %>
  </div>


