 <%= render 'shared/dashboard_navbar' %>
<body class= "dashboard-container body-dash">
  <div class="form-card ">

      <h2>Edit Account</h2>

        <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <div class="edit-form">

          <%= f.input :first_name ,
                      placeholder: "First name",
                      input_html: { class: "form-inputs name-form", autocomplete: "First Name" } %>


          <%= f.input :last_name,
                      placeholder: "Last name",
                      input_html: { class: "form-inputs name-form half", autocomplete: "Last Name" } %>
        </div>

      <%= f.input :bio,
                      placeholder: "Tell us about yourself...",
                      input_html: { class: "form-inputs name-form half"} %>

        <h5>Are you a Professional?</h5>
        <p><%= f.input :professional %>(Check this box if you have a professional service to offer)</p>

        <h6>Select your professional service</h6>
        <%= f.input :service_ids,
                  collection: Service.all,
                  :include_blank => false,
                  prompt: 'Select Service',
                  input_html: { class: "form-inputs" } %>

        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
<div class="flex-btn">
        <%= f.submit "Edit", class: "button" %>
</div>

        <% end %>

  </div>
</body>

