<div class="container-fluid">
  <h1>Hello World!</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12" >
     <% @accepted_bids.each do |bid| %>
      <div class="col-xs-12 col-md-4" style="background-color:lavender;">
        <a href="/events/<%= bid.event.id %>" class="bid-card-link">
          <div class="event-card">
            <div class="card-top">
              <p><%= bid.event.name %></p>
              <%= bid.user_id %>
              <p>Your Offer: £<%= bid.quote.to_i %></p>
              <p>Price Range: £<%= bid.event.min_price %>-<%= bid.event.max_price %></p>
              <p>Date: <%= bid.event.date.strftime("%b %e, %l:%M %p") %></p>
              <p>Location:<%= bid.event.location %></p>
            </div>
            <div class="card-btm">
              <% if bid.status == "accepted" %>
                <p class="green-text">Accepted</p>
              <% elsif bid.status == "pending" %>
                <p class="orange-text">Pending</p>
              <% elsif bid.status == "declined" %>
                <p class="red-text">Declined</p>
            </div>
            <% end %>
          </div>
        </a>
      </div>
    <% end %>
    </div>
    <div >
    <% @pending_bids.each do |bid| %>
      <div class="col-xs-12 col-md-4 " style="background-color:lavenderblush;">
        <a href="/events/<%= bid.event.id %>" class="bid-card-link">
          <div class="event-card">
            <div class="card-top">
              <p><%= bid.event.name %></p>
              <%= bid.user_id %>
              <p>Your Offer: £<%= bid.quote.to_i %></p>
              <p>Price Range: £<%= bid.event.min_price %>-<%= bid.event.max_price %></p>
              <p>Date: <%= bid.event.date.strftime("%b %e, %l:%M %p") %></p>
              <p>Location:<%= bid.event.location %></p>
            </div>
            <div class="card-btm">
              <% if bid.status == "accepted" %>
                <p class="green-text">Accepted</p>
              <% elsif bid.status == "pending" %>
                <p class="orange-text">Pending</p>
              <% elsif bid.status == "declined" %>
                <p class="red-text">Declined</p>
            </div>
            <% end %>
          </div>
        </a>
      </div>
    <% end %>
  </div>

  <div >
    <% @declined_bids.each do |bid| %>
      <div class="col-xs-12 col-md-4 " style="background-color:lightcyan;">
        <a href="/events/<%= bid.event.id %>" class="bid-card-link">
          <div class="event-card">
            <div class="card-top">
              <p><%= bid.event.name %></p>
              <%= bid.user_id %>
              <p>Your Offer: £<%= bid.quote.to_i %></p>
              <p>Price Range: £<%= bid.event.min_price %>-<%= bid.event.max_price %></p>
              <p>Date: <%= bid.event.date.strftime("%b %e, %l:%M %p") %></p>
              <p>Location:<%= bid.event.location %></p>
            </div>
            <div class="card-btm">
              <% if bid.status == "accepted" %>
                <p class="green-text">Accepted</p>
              <% elsif bid.status == "pending" %>
                <p class="orange-text">Pending</p>
              <% elsif bid.status == "declined" %>
                <p class="red-text">Declined</p>
            </div>
            <% end %>
          </div>
        </a>
      </div>
    <% end %>
  </div>

</div>

