<h1>Profile</h1>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="user-card">
      <h2><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %></h2>

        <% if @user.professional %>
          <h5>THELO Professional</h5>
        <% end %>

        <p><%= @user.services.name %></p>

        <% if @user.professional %>
          <p>Bids made by <%= @user.first_name.capitalize %>:</p>
          <p><small class= "label label-success"><%= @user.bids.count %></small></p>
        <% end %>

        <% if @user.professional %>
          <p>Events Created by <%= @user.first_name.capitalize %>:</p>
          <p><small class= "label label-success"><%= @user.events.count %></small></p>
        <% end %>

      <p>Events Created by <%= @user.first_name.capitalize %> :</p>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
      <div class="col-lg-6 left" style="text-align:center;overflow-wrap: break-word;"></div>
      <div class=" col-lg-6 left" style="text-align:center;overflow-wrap: break-word;">
    </div>
  </div>
</div>

<% if @user.reviews.count > 0 %>
  <p>Reviews</p>
<% end %>

<% @reviews.each do |review| %>
  <%= review.content %>
  <%= review.rating %>
  <%= review.user.first_name %>
<% end %>
