
<div class="show-navbar hidden-navbar">
  <div class="navbar-profile-details">
    <%# if @user.photo %>
          <!-- Display the photo -->
        <%# else %>
          <!-- Display a placeholder -->
        <%# end %>
    <h1 class="user-details-nav"><%="#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %></h1>
    <h1 class="nav-details"><%= @user.bio %></h1>
  </div>
</div>

<div class="show-wrapper">
  <div class="show-banner">
    <div class="show-banner-content">
      <div class="avatar-profile">
        <%# if @user.photo %>
          <!-- Display the photo -->
        <%# else %>
          <!-- Display a placeholder -->
        <%# end %>
      </div>
      <div class="profile-details">
        <h1 class="user-details"><%="#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %></h1>
        <% if @user.professional %>
          <% end %>
          <p class="user-details"><%= @user.services.first.name %></p>

       <% if @user.professional %>
        <h1 class="user-details"></h1>
        <% @user.average_review_score.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <!-- <p>Overall rating <%= @reviews_avg %>/5</p> -->
        <% end %>
      </div>
    </div>
  </div>
  <div class="show-content">

    <div class="show-left">
      <div class="bio">
        <h1 class="about">About <%="#{@user.first_name.capitalize}" %></h1>
        <% if @user.professional %>
          <% end %>
        <p><%= @user.bio %></p>
      </div>
        <% @reviews.each do |review| %>
          <div class="show-left-card">
            <div class="review-avatar"></div>
            <p class="review-name"> <%= review.user.first_name %></p>
            <p class="date-review"> <%= review.created_at.strftime("%e %b %Y") %></p>
            <div class="star-holder">
              <% review.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
          </div>
      <% end %>

    </div>
    <div class="show-right">
      <h1 class="show-right-title">Info</h1>
      <p class="info-heading">SKILLS</p>
      <div class="info-right">
        <p class="info-right-service"><%= @user.services.first.name %></p>
        <p class="info-right-service"><%= @user.services.first.name %></p>
     </div>
      <p class="info-heading">CONTACT</p>
      <p class="email-details"><%= @user.email %></p>
    </div>
  </div>
</div>



