<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="sidenav">

  <div class= "dash-logo">
    <%= link_to root_path, class: "logo" do %>
    <i class="far fa-lemon"></i> THELO
    <% end %>
  </div>

  <div class= "avatar-dashboard sidenava">
    <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-dash" %>
    <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>
  </div>

  <div class= "menu-dash sidenava">


  <%if @user.professional == true %>
    <p id= "pro-pink">Professional</p>
    <%= link_to "Events I'm working at", dashboard_path( anchor: "proevents") %>
    <%= link_to "Bids I've placed", dashboard_path(anchor: "probids") %>
    <%= link_to "View Profile", user_path(@user)%>
  <% end %>

    <p>Host</p>
    <%= link_to "Events I'm hosting", dashboard_path(anchor: "hostevents") %>
    <%= link_to "Create a new event", new_event_path%>

    <p id="account">Account</p>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
    <% end %>

  </div>
</div>

