<div class="form_wrapper" style="width: 343px; height: 100px; margin: 0 auto;">
  <%= form_tag events_path, method: :get do %>
    <%= text_field_tag :starts_at,
        params[:starts_at],
        class: "datepicker",
        placeholder: "Start Date"%>
    <%= text_field_tag :ends_at,
        [:ends_at],
        class: "datepicker",
        placeholder: "End Date"%>

    <%= text_field_tag :location,
         params[:location],
         placeholder: "Location",
         class: "location_input input_margin_2",
         id: "event_location" %>
    <%= submit_tag "Search", class: " btn submit_button"%>
  <% end %>
</div>
