<h2>Host an Event</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for(@event) do |f|%>
        <%= f.input :name, label: false, required: false, placeholder: "Name", input_html: {class: "event_form"} %>
        <%= f.input :min_price, label: false, required: false, placeholder: "Minimum Price", input_html: {class: "event_form"}  %>
        <%= f.input :max_price, label: false, required: false, placeholder: "Maximum Price", input_html: {class: "event_form"}  %>
        <%= f.input :location, label: false, required: false, placeholder: "Location", input_html: {class: "event_form"} %>
        <%= f.input :description, label: false, required: false, placeholder: "Description",input_html: {class: "event_form"} %>
        <%= f.input :party_size, label: false, required: false, placeholder: "Party Size", input_html: {class: "event_form"} %>
        <%= f.input :event_type, label: false, required: false, placeholder: "Type of Event", input_html: {class: "event_form"} %>
        <%= f.input :date, label: false, input_html: {class: "event_form"}%>
        <%= f.input :service_id, label: false, collection: @services, include_blank: false, prompt: 'Select Service', input_html: {class: "event_form"}%>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <%= f.submit "Create Event", class: "create-event" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

