<body class= "body-dash">
  <div class="form-card full-width ">

<div class = "sign-up">
  <h2>Host an Event</h2>
</div>


    <%= simple_form_for(@event) do |f|%>
    <%= f.input :name,
                label: false,
                required: false,
                placeholder: "Name",
                input_html: { class: "form-inputs" } %>
      <%= f.input :description,
                label: false,
                required: false,
                placeholder: "Description",
                input_html: { class: "form-inputs" } %>
    <div class="edit-form relative">
      <%= f.input :min_price,
                label: false,
                required: false,
                placeholder: "Minimum Price",
                input_html: { class: "form-inputs" } %>
      <div class="left"><p>£</p></div>
      <%= f.input :max_price,
                label: false,
                required: false,
                placeholder: "Maximum Price",
                input_html: { class: "form-inputs" } %>
      <div class="right"><p>£</p></div>
    </div>

    <div class="edit-form">
      <%= f.input :date,
                  as: :string,
                  required: false,
                  placeholder: "Date",
                  input_html: { class: "datepicker form-inputs" } %>
      <%= f.input :location,
                label: false,
                required: false,
                placeholder: "Location",
                input_html: { class: "form-inputs" } %>
    </div>

    <div class="edit-form">
      <%= f.input :party_size,
                label: false,
                required: false,
                placeholder: "Party Size",
                input_html: { class: "form-inputs" } %>

      <%= f.input :service_id,
                label: false,
                collection: @services,
                include_blank: false,
                prompt: 'Select Service',
                input_html: { class: "form-inputs" }%>
    </div>
 <div class="flex-btn">
      <%= f.submit "Create Event", class: "button" %>
  </div>

    <% end %>

  </div>

</div>
