<p>events-show</p>

<div>
<h2><%= @event.name %></h2>
<p><%= @event.party_size %></p>
<p><%= @event.location %></p>
<p><%= @event.description %></p>


<p>Want to make a bid?</p>
    <%= link_to "Bid Now", new_bid_path(@event)%>
    <%= link_to "Login", new_user_session_path%>
    <%= link_to "Sign up", new_user_registration_path %>

</div>
