<div>
  <h2><%= @event.name %></h2>
  <h3>Serice Required:<%= @event.service.name %></h3>
  <p>Party size:<%= @event.party_size %></p>
  <p>Location:<%= @event.location %></p>
  <p>Event Description:<%= @event.description %></p>

  <% if @event.user == current_user %>
    <%= link_to "edit event", edit_event_path(@event) %>
  <% end %>


<% if @event.user != current_user  %>
  <p>Want to make a bid?</p>
  <%= render "shared/bid_form" %>

<% end %>


<% if user_signed_in? == false %>
  <%= link_to "Login", new_user_session_path%>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>

</div>

<% if current_user == @event.user %>
  <div class="container">
    <div class="row">
      <% @event.bids.each do |bid| %>
        <div class="col-xs-12 col-md-4">
          <div class="show-bid-card">
            <p><%= bid.user.first_name %></p>
            <p>Quote: <%= bid.price %></p>
            <p>Desc: <%= bid.description %></p>
            <% if bid.status == "accepted" %>
              <p class="green-text">Accepted</p>
            <% elsif bid.status == "pending" %>
              <p class="orange-text">Pending</p>
            <% elsif bid.status == "declined" %>
              <p class="red-text">Declined</p>
            <% end %>
            <%= link_to "View Profile", user_path(@user) %>
            <div class="status-buttons">
              <%= link_to "Accept", accept_bid_path(bid.id, :bid => {"status" => "accepted"}), {:method => :accept} %>
              <%= link_to "Decline", decline_bid_path(bid.id, :bid => {"status" => "declined"}), {:method => :decline} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

