<div class="event-show-header">
  <p class="date">On <%= @event.date.strftime("%b %e, %l:%M %p") %></p>
  <h2><%= @event.name %></h2>
  <div class="event-show-header-inline">
    <img class="avatar" src="http://kitt.lewagon.com/placeholder/users/ssaunier" alt="avatar">
    <div class="header-description">
      <p>Hosted by </p>
      <p class="text-yellow"><%= User.find(@event.user_id).first_name %> <%= User.find(@event.user_id).last_name %></p>
      <p>at</p>
      <p class="text-yellow"><%= @event.location %></p>
    </div>
  </div>
</div>
<div class="event-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div class="event-show-description">
          <h1>Details</h1>
          <p class = "main-body"><%= @event.description %></p>
          <div class="display-inline">
            <p>What they are looking for</p>
            <div class="card-btn card-btn-orange">
              <%= @event.service.name %>
            </div>
          </div>
          <p><i class="fas fa-users"></i> <%= @event.party_size %></p>
          <p> Budget £<%= @event.min_price %>-<%= @event.max_price %></p>
          <% if @event.user == current_user %>
            <div class="show-edit-btn-div">
              <%= link_to "Edit event", edit_event_path(@event), class: "show-edit-btn" %>
            </div>
          <% end %>
        </div>
        <div class="event-show-bids">
          <% if @event.user == current_user %>
            <h3 class="bid-title">New Bids</h3>

            <div class="container">
              <div class="row">
                <% if @event.bids.empty? %>
                  <h3 class="empty-bid-text">No bids yet...</h3>
                <% end %>
                <% @event.bids.each do |bid| %>
                  <% if bid.status == "pending" %>
                    <div class="col-xs-12 col-md-6">
                      <div class="show-bid-card">
                        <div class="right-corner">
                          <div class="card-btn card-btn-orange">
                             <%= @event.service.name %>
                          </div>
                        </div>
                        <img class="avatar" src="http://kitt.lewagon.com/placeholder/users/ssaunier" alt="avatar">
                        <p class="bid-name"><%= bid.user.first_name %></p>
                        <p>Quote: £<%= bid.price.to_i %></p>
                        <p> <%= bid.description %></p>
                        <%= link_to "View Profile", user_path(@user) , class: "view-profile-btn"%>
                        <p>Bid is pending, accept or decline below</p>
                        <div class="status-buttons">
                          <%= link_to(accept_bid_path(bid, :bid => {:status => "accepted"}) , {method: :accept}) do  %>
                            <i class="fas fa-check tick"></i>
                          <% end %>
                          <%= link_to(accept_bid_path(bid, :bid => {:status => "declined"}) , {method: :accept}) do  %>
                            <i class="fas fa-times cross"></i>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="accepted-bids">
          <div class="container">
            <h2 class="accepted-title">Who's Working at the event</h2>
            <div class="row">
              <% accepted_bids_full = false %>
              <% @event.bids.each do |bid| %>
                <% if bid.status == "accepted" %>
                  <% accepted_bids_full = true %>
                  <div class="col-xs-6 col-md-4">
                    <div class="show-bid-card accepted-card">
                      <img class="avatar" src="http://kitt.lewagon.com/placeholder/users/ssaunier" alt="avatar">
                      <p class="bid-name"><%= bid.user.first_name %></p>
                      <%= link_to "View Profile", user_path(@user) , class: "view-profile-btn"%>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if accepted_bids_full == false %>
                <h3 class="empty-bid-text">No one working yet...</h3>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="event-show-form">
          <% if @event.user != current_user  %>
            <h3>Place a bid to work for this event!</h3>
              <%= render "shared/bid_form" %>
            <% else %>
              <style> .event-show-form{ opacity: 0;}</style>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




